.navbar{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid gray; */
    padding: 15px 25px;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;

}

.lists{
    display: flex;
    gap: 20px;
}

.lists li{
    list-style: none;
    font-size: 1.1rem;
    cursor: pointer;
    color: #333;
}

.lists li:hover{
    border-bottom: 3px solid #333;
    
}

button{
    padding: 9px 19px;
    border-radius: 20px;
    background-color: blueviolet;
    border: 3px solid blueviolet;
    font-weight: 500;
    color: azure;
    cursor: pointer;
}

button:hover{
    background-color: #fff;
    color: blueviolet;
    font-weight: 700;
}
